/* -------------------------------------------------------------------- */
/* ------------------------------ default ----------------------------- */
/* -------------------------------------------------------------------- */
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    color: #1d1d1b;
    font: 400 16px / 1.5 'Open Sans', sans-serif;
    min-width: 320px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #42474d;
    text-decoration:none;
}

a:hover {
    color:#42474d;
}

a:focus {
    color:#42474d;
    outline:0;
}

a:hover,
a:active {
    outline:0;
}

input:focus {
    outline:0;
    border:1px solid #04A4CC;
}

ul, ol {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

input:focus {
    outline: none;
    border: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* -------------------------------------------------------------------- */
/* ------------------------------ fonts ------------------------------- */
/* -------------------------------------------------------------------- */

@font-face {
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-family: 'Montserrat-Bold';
    src: url('./fonts/Montserrat-Bold.ttf') format('truetype');
}

/* -------------------------------------------------------------------- */
/* ------------------------------ fonts ------------------------------- */
/* -------------------------------------------------------------------- */
.popup-authorization {
    position: fixed;
    top: 100%;
    width: 100%;
    height: 100%;
    z-index: 10001;
}

.popup-authorization.active {
    top:0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color .6s ,opacity .6s;
}

.popup-authorization .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 568px;
    min-width: 320px;
    margin-top: 150px;
    padding: 25px;
    background-color: #FFFFF0;
    color: #070000;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transition: margin .6s;
    -webkit-transition: margin .6s;
    -moz-transition: margin .6s;
    -o-transition: margin .6s;
}

.popup-authorization.active .popup-content {
    margin-top: 0;
    text-align: center;
}

.user-authorization .popup-btn {
    background-color: brown;
    border: 1px solid brown;
    position: absolute;
    right: 20%;
    top: 20px;
    z-index: 1;
}

.user-authorization .ok-popup {
    background-color: green;
    border: 1px solid green;
}

.popup-field-wrap label {
    min-width: 100px;
    display: inline-block;
}

.popup-field-wrap {
    margin-bottom: 20px;
    text-align: left;
    position: relative;
}

.popup-field-wrap input {
    border: 1px solid #ccc;
    background-color: transparent;
    width: 100%;
    position: relative;
    border-radius: 3px;
    padding: 10px;
    z-index: 1;
}

.close-popup {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    border: 2px solid #000;
    border-radius: 50%;
    padding: 4px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.popup-field-wrap input.empty-value {
    border: 1px solid red;
}

.empty-login-error {
    position: absolute;
    color: red;
    font-weight: bold;
    top: 34px;
    left: 15px;
    font-size: 12px;
}

.away-user {
    display: none;
}

.away-user.active {
    display: block;
}

/* -------------------------------------------------------------------- */
/* ------------------------ list main styles -------------------------- */
/* -------------------------------------------------------------------- */
.todo-form-main {
    width: 100%;
}

.wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.todo-list-inner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.todo-list-inner-box.clean-add-list {
    display: none;
}

.todo-list-inner-box.clean-add-list.new-todo-list {
    display: flex;
}

.header-title {
    display: flex;
    align-items: center;
    background-color: #6495ed;
    padding: 15px 20px;
}

.header-title .main-title {
    font: 400 26px / 1.5 'Montserrat-Bold', sans-serif;
    margin: 0;
    width: 100%;
    text-align: center;
}

.header-title .list-title {
    font-size: 18px;
    width: calc(100% - 100px);
    border: none;
    border-bottom: 1px solid #333;
    background-color: transparent;
    outline: none;
    color: #333;
}

.header-title .list-title.active {
    background-color: #fff;
    text-indent: 5px;
}

.header-title .list-title::placeholder {
    color: #333;
}

.header-title .list-title.empty {
    background-color: red;
}

.header-list {
    margin: auto;
}

.header-list-edit {
    margin-left: auto;
}

.header-list-edit .fa-pencil,
.header-list-edit .fa-trash,
.header-title .todo-header-top {
    color: #333;
    font-size: 19px;
    cursor: pointer;
}

.header-title .fa-calendar,
.header-list-edit .fa-pencil,
.header-title .todo-header-top {
    padding-right: 10px;
}

.header-list-edit .fa-trash {
    border-left: 1px solid #333;
    padding-left: 10px;
}

.header-list-edit .todo-header-check {
    display: none;
    color: green;
}

.header-list-edit {
    display: flex;
}

.enter-data-list {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    background-color: #eae7e7;
}

.input-list-data {
    border: 1px solid #ccc;
    background-color: #fff;
    width: 100%;
    position: relative;
    border-radius: 3px;
    text-align: left;
}

.input-list-data button {
    background-color: green;
    color: #fff;
    border: 1px solid green;
    padding: 5px 20px;
    position: absolute;
    right: 0;
}

.input-list-data input {
    border: none;
    background-color: transparent;
    padding: 5px 10px;
    width: calc(100% - 95px);
}

.body-list-data .list-sections {
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: 0;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    text-align: left;
}

.list-check-wrap {
    display: inline-block;
    border-right: 4px double #ccc;
    padding: 15px 15px 15px 0;
}

.list-check-txt {
    display: inline-block;
    margin-left: 15px;
    width: 70%;
    padding: 10px;
    border: none;
    background-color: transparent;
}

.list-check-txt.redact {
    background-color: #fff;
}

.list-check-txt.done {
    text-decoration: line-through;
    opacity: 0.4;
}

.list-sections .list-add-data {
    background-color: #fff;
    transition: all 0.5s;
    padding: 0 15px;
    position: relative;
}

.list-sections .list-add-data:hover {
    cursor: pointer;
    background-color: rgba(191,175, 56, 0.3);
    transition: all 0.5s;
}

.change-data-checker {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 45px;
}

.redact + .change-data-checker .change-data-checker-edit,
.list-add-data .change-data-checker-cross {
    display: none;
}

.redact + .change-data-checker .change-data-checker-cross {
    display: inline-block;
    color: green;
}

.change-data-checker div {
    display: inline-block;
}

.change-data-checker-inner {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #333;
}

.change-data-checker-inner:last-child {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
}

.buttons-box {
    margin-top: 50px;
    display: flex;
}

.add-todo-list,
.send,
.popup-btn,
.ok-popup,
.away-user,
.user-authorization-login {
    background-color: #6495ed;
    color: #fff;
    border: 1px solid #6495ed;
    border-radius: 3px;
    padding: 10px 30px;
    opacity: 1;
    transition: opacity 0.5s;
    margin-right: 10px;
}

.add-todo-list {
    display: none;
}

.send {
    background-color: red;
    border: 1px solid red;
}

.away-user {
    background-color: purple;
    border: 1px solid purple;
}

.user-authorization-login {
    background-color: transparent;
    border: 1px solid transparent;
    color: #1d1d1b;
    font-weight: bold;
}

.add-todo-list:hover,
.send:hover,
.popup-btn:hover,
.ok-popup:hover,
.away-user:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.5s;
}

.login-wrap {
    position: absolute;
    right: 20%;
    top: 20px;
    display: flex;
    align-items: center;
}

.cross-out {
    text-decoration: line-through;
}